* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 18px;
}

.pf-header {
    margin: 5px;
    margin-top: 25px;
    padding: 5px;
}

.pf-subheader {
    margin: 5px;
    padding: 10px 10px 40px 10px;
}

.pf-container {
    border: solid 2px black;
    border-radius: 15px;
    margin: 5px;
    margin-bottom: 2em;
    padding: 20px 40px;
}

.pf-image {
    margin: 0;
    padding: 0;
}

.pf-image img {
    border-radius: 15px;
}

.pf-text {
    padding-left: 2em;
}

.pf-text h3 {
    font-size: 85%;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.pf-text p {
    font-size: 75%;
}
